@import "./_reset";
@import "./_mixin";
@import "./_flex";

$color-primary: #3A78FF;
$color-primary-hover: #4B89FF;
$color-blue: #3A78FF;
$color-warning: #f90;
$color-success: #19be6b;
$color-error: #ed4014;

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

*{
  font-family:Microsoft YaHei;
}

.search-box {
  width: 100%;
  height: 60px;
  padding: 18px 20px 0;
  border-bottom: 1px solid #e6e6e6;

  .input-view {
    width: 100%;
    position: relative;

    .icon-search {
      position: absolute;
      top: 5px;
      left: 5px;
      fill: #e6e6e6;
    }

    input {
      width: 100%;
      height: 24px;
      display: block;
      line-height: 24px;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      font-size: 13px;
      color: #666;
      background-color: #f4f4f4;
      padding: 0 24px 0 22px;
      outline: none;

      &:focus {
        background-color: #fff;
      }
    }

    .clear-btn {
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      text-align: center;

      svg {
        vertical-align: -2px;
        fill: #ccc;
      }
    }

  }
}

.null-data {
  line-height: 100px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

