.home-wrapper {
  height: 100%;
  @include clearfix;

  .left-inner {
    width: 240px;
    height: 100%;
    float: left;
    border-right: 1px solid #e6e6e6;
  }

  .right-inner {
    width: calc(100% - 240px);
    height: 100%;
    float: left;
    background-color: #f8f8f8;
  }



  .chat-head {
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    padding: 0 60px 0 20px;

    .chat-name {
      vertical-align: top;
      display: inline-block;
      font-size: 16px;
      line-height: 59px;
      font-weight: 600;
      cursor: default;
    }

    .more-info-btn {
      width: 30px;
      height: 30px;
      line-height: 30px;
      position: absolute;
      top: 50%;
      cursor: pointer;
      margin-top: -15px;
      right: 20px;
      text-align: center;

      svg {
        vertical-align: middle;
      }
    }
  }

  .message-main-inner {
    height: calc(100% - 60px - 160px);
    padding: 3px;
    overflow-y: hidden;


    .message-main-scroll {
      height: 100%;
      padding-bottom: 20px;
      overflow-y: auto;
    }

    @include scrollbar(block, 6px, 4px, #f8f8f8, rgba(37, 59, 120, .2));
  }

  .editor-wrapper {
    width: 100%;

    .editor-inner {
      height: 100%;
      border-top: 1px solid #e6e6e6;
      background-color: #fff;
    }
  }
}

.chatting-user-list {
  .user-item {
    width: 100%;
    height: 68px;
    padding: 10px 12px;
    @include clearfix;

    &.active {
      background-color: #ddd;
    }
  }

  .av-box {
    width: 50px;
    float: left;
  }

  .txt-box {
    width: calc(100% - 50px);
    float: left;

    .top-line {
      width: 100%;
      @extend .ellipsis;
      position: relative;
      padding-right: 44px;

      .nick-name {
        font-size: 13px;
        line-height: 20px;
        vertical-align: top;
      }

      .chat-mini-time {
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: top;
      }
    }

    .bt-line {
      width: 100%;
      @extend .ellipsis;
      position: relative;
      padding-right: 30px;

      .msg-txt {
        font-size: 12px;
        color: #666;
      }

      .icon-disturb {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }
}

.message-main-bying {
  padding: 0 12px;
}

.message-item {
  .time-line {
    font-size: 12px;
    text-align: center;
    color: #b4b4b4;
    padding: 15px 0;
  }

  .msg-line {
    @include clearfix;

    .u-avatar {
      width: 30px!important;
      height: 30px!important;
      float: left;

      .img-path {
        width: 30px!important;
        height: 30px!important;
      }
    }

    .msg-box {
      float: left;
      max-width: 72%;
      margin: 0 15px;

      .msg {
        font-size: 13px;
        padding: 8px 12px;
        line-height: 1.5;
        background-color: #e3d7ee;
        border-radius: 6px;
        color: #333;
        word-break: break-all;
        position: relative;

        &:before {
          content: '';
          width: 30px;
          height: 30px;
          background-image: url('../../assets/msg-1.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          position: absolute;
          bottom: 0;
          right: -15px;
        }

        &:after {
          width: 0;
          height: 0;
          content: '';
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid #e3d7ee;
          position: absolute;
          top: 11px;
          left: -5px;
        }
      }
    }
  }

  &.me {
    .msg-line {
      .u-avatar {
        float: right;
      }

      .msg-box {
        float: right;

        .msg {
          color: #735c57;
          background-color: rgba(37, 59, 120, .2);

          &:before {
            background-image: url('../../assets/msg-2.png');
            bottom: 0;
            right: auto;
            left: -15px;
          }

          &:after {
            border-right: 0 solid rgba(37, 59, 120, .2);
            border-left: 5px solid rgba(37, 59, 120, .2);
            left: auto;
            right: -5px;
          }
        }
      }
    }
  }
}
